/* Start background styles */
/* style to form in student-settings and log-in page */
.full-page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full-page-background::before,
.full-page-background::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.6;
  z-index: 2;
}

.full-page-background::before {
  width: 450px;
  height: 450px;
  background: radial-gradient(circle, #ff006e 0%, #ff000000 70%);
  top: 20%;
  left: 20%;
}

.full-page-background::after {
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #00bfff 0%, #0000ff00 70%);
  bottom: 0;
  right: 15%;
}
.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* End background styles */
