body {
  font-family: "Cairo", sans-serif;
  background-color: #f0f2f5;
}

/* Start buttons */
.btn {
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
  cursor: pointer;
  background-color: #28a745;
  width: fit-content;
  font-family: "Cairo", sans-serif;
}
.btn:hover {
  background-color: #218838;
}

.btn-edit {
  background-color: #0d6efd;
}
.btn-delete {
  background-color: #dc3545;
}
.btn-add {
  background-color: #28a745;
}
.btn-add:hover {
  background-color: #218838;
}
.btn-edit:hover {
  background-color: #2a7efc;
}
.btn-delete:hover {
  background-color: #bb2d3b;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 14px;
}

.btn-back {
  display: block;
  background-color: #0d6efd;
  width: fit-content;
}
.btn-back:hover {
  background-color: #2f81fc;
}

/* End button */

/* Start Input */
.form-group label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  color: #555;
  font-size: 1.1em;
}
.input {
  background-color: white;
  width: 100%;
  padding: 8px;
  border: 1px solid #0e0a0a;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}
/* End input */

/* start table */
table {
  border-collapse: collapse;
  box-shadow: 1px 1px 10px #ccc9c9;
  min-width: 550px;
  border-radius: 8px;
}
thead {
  box-shadow: 1px 1px 10px #ccc9c9;
  background-color: #343a40;
  color: #fff;
}

thead th {
  background-color: #343a40;
  color: #fff;
  font-weight: 600;
  position: relative;
}
th,
td {
  padding: 15px;
  text-align: center;
  font-size: 15px;
}
/* end table */

/* start heading */
h1 {
  font-weight: 700;
  font-size: 2.5em;
}
.page-title {
  font-weight: 700;
  font-size: 2em;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.6em;
}
h4 {
  font-weight: 700;
  font-size: 1.3em;
}
h5 {
  font-size: 1.1em;
}

.system-name {
  letter-spacing: 3px;
  font-size: 1.5em;
  opacity: 0.9;
}

/* end heading */

/* start */
.pink {
  color: #611d52;
}
.white {
  color: #f3f3f3;
}
.black {
  color: #333;
}
.txt-right {
  display: block;
  text-align: right !important;
}
.txt-center {
  text-align: center !important;
}

/* margin */
.mt-20 {
  margin-top: 20px;
}
.mb {
  margin-bottom: 20px;
}
/* end */

.container {
  min-width: 300px;
  max-width: 700px;
  background-color: #ffffff;
  padding: 30px;
  margin-top: 30px;
  border-radius: 8px;
  /* box-shadow: 0 2px 10px #ae158d; */
}
