body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  color: white;
  /* background: #eeaeca; */
  /* background: radial-gradient(
    circle,
    rgb(243, 166, 199) 0%,
    rgb(6, 23, 43) 100%
  ); */
}

.content-area {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 59px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.notifications-container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 400px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.notifications-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}
.notifications-list {
  margin-bottom: 25px;
  text-align: right;
}

.notification-item {
  background-color: #f7f7f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
}

.notification-item p {
  margin: 0 0 5px 0;
  color: #444;
  font-weight: bold;
}

.notification-item span {
  color: #888;
  font-size: 13px;
}
