body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 7rem;
}

.form-container {
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-shadow: 0 2px 8px #ccc9c9;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  resize: vertical;
}

textarea:focus {
  outline: none;
}
