body {
  font-family: "Gill Sans", sans-serif;
  background-color: rgb(240, 242, 245);
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 80%;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  table {
    width: 100%;
  }
}
