body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/*  (Navbar)  */
/* .navbar {
  background-color: #bb3c9f;
  padding: 8px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  gap: 13px;
  align-items: center;
}
.navbar-brand img {
  width: 45px;
} */
.container {
  width: 100%;
  max-width: 700px;
  background-color: #ffffff;
  padding: 30px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px #ccc9c9;
}

.upload-section {
  margin-bottom: 40px;
}

.lectures-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lectures-list li {
  background-color: #fef49a3b;
  padding: 8px;
  border: 1px solid #0e0a0a;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.file-name {
  font-weight: 500;
  color: #495057;
}
