* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  color: white;
  background: #eeaeca;
  /* background: radial-gradient(
    circle,
    rgb(243, 166, 199) 0%,
    rgb(6, 23, 43) 100%
  ); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-save {
  display: block;
  margin-right: auto;
}

.settings-card {
  max-width: 600px;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  color: #333;
  background-color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.change-password-link {
  font-size: 0.8em;
  float: right;
  text-decoration: none;
  color: #666;
}
